body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav{
    padding-top: 10px;
}

.nav li{
    display: inline;
    padding: 10px 20px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.nav li a{
    padding: 15px;
    text-decoration: none;
    color: black;
}

.nav li a:hover{
    color: lawngreen;
}

.quote{
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px  !important;
    transition: background-color 0.5s;
    margin-left: 40px;
}
.quote:hover{
    background-color: lawngreen;}

.quote:hover a{
    color: black !important;
}