@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav{
    padding-top: 10px;
}

.nav li{
    display: inline;
    padding: 10px 20px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.nav li a{
    padding: 15px;
    text-decoration: none;
    color: black;
}

.nav li a:hover{
    color: #B9FF66;
}

.quote{
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px  !important;
    transition: background-color 0.5s;
    margin-left: 40px;
}
.quote:hover{
    background-color: #B9FF66;}

.quote:hover a{
    color: black !important;
}

.topsection{
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
   
}
.topsection h1{
    width: 534px;
    height: 270px;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
}
.topsection p{
    width: 534px;
    height: 81px;;
}
.booking-btn{
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    transition: background-color .2s;
    font-size: larger;
    padding: 35px;

}
.booking-btn:hover{
    background-color: #B9FF66;
    color: black;
}
.top-img img{
    width: 550px;
    margin-right: 100px;
}

.Site-Logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 90px;
}
.Site-Logos span img{
    width: auto;
    max-height: 50px;
    object-fit: contain;
}
.services-tag{
    padding: 40px 60px;
}
.servies-top h2{
    font-size: 40px;
    background-color: #B9FF66;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.servies-top p{
    display: inline-block;
    margin-left: 30px;
    max-width: 550px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.services-container{
    padding: 40px 60px;
}
.main-container{
    background-color: #F3F3F3;
    display: flex;
    width: 45%;
    border-radius: 19px;
    border: black 1px solid;
    padding: 15px;
    box-shadow: 10px;
    margin: 10px;
    align-items: space-between;
}
.containertop h2{
    line-height: 40px;
    font-size: 30px;
    font-weight: 700px;
}
.containerbottom{
    display: flex;
    align-items:center ;
    padding-top: 100px;
}
.containerbottom p, .ppccontainerbottom p{
    padding-left: 10px;
    
}
.containerbottom p:hover{
    background-color: #B9FF66;
    padding: 2px;
    cursor: pointer;
}
.ppc-container{
    background-color: #B9FF66;
}
.firstrow{
    display: flex;
    gap: 25px;
}
.containerbottom p:hover{
    background-color: #F3F3F3;
}
.bg{
    background-color: #B9FF66;
}
.cg{
    background-color: #191A23;
}
.bchange{
    color: white;
}
.title{
    color: white;
}
.booking-container{
    padding: 40px 60px;
    display: flex;
    background-color: #F3F3F3;
    border-radius: 50px;
    margin: 0px 70px;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}
.bookingcontainer-left h2{
    font-size: 30px;
}

.bookingcontainer-left p{
    font-weight: 450;
    line-height: 30px;
    max-width: 400px;
    font-size: 18px;
}
.Bookingsection-img img{
    max-height: 450px;
    margin-bottom: 25px;
}
.purposal-Button button{
    background-color: black;
    color: white;
    padding: 35px;
    border: none;
    border-radius: 30px;
    font-size: larger;
    transition: background-color 0.2s;
} 
.purposal-Button button:hover{
    background-color: #B9FF66;
    color: black;
}

#UseCases{
    padding: 40px 60px;
    margin-top: 50px;
}
.casestudes-top{
    display: flex;
    align-items: center;
}
.casestudes-top h2{
    font-size: 40px;
    background-color: #B9FF66;
    padding: 10px;
    border-radius: 5px;
}

.casestudes-top p{
    margin-left: 30px;
    max-width: 570px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.UseCases-des{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
    border-radius: 60px;
    padding: 20px;
}
.des-section{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: top;

}
.section-top{
    max-width: 288px;
    line-height:35px ;
    font-weight: 400;
}

.section-bottom{
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: #B9FF66;
}
.section-bottom img{
    width: 35px;
    padding-left: 10px;
}
.section-bottom:hover{
    color: white;
}
.section-bottom img:hover{
    color: white;
}
.des-sec{
    border-right: rgb(133, 122, 122) solid 0.2px;
}

#workprocess{
    padding: 40px 60px;
    margin-top: 50px;
}
.WProcess-top{
    display: flex;
    align-items: center;
}
.WProcess-top h1{
    font-size: 40px;
    background-color: #B9FF66;
    padding: 10px;
    border-radius: 5px;
}

.WProcess-top p{
    margin-left: 30px;
    max-width: 570px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
}
.wprocess-container{
    margin-top: 30px;
    background-color: #F3F3F3;
    margin-bottom: 40px;
    padding: 40px 20px;
    border-radius: 50px;
    border: #66666C 2px solid;
    box-shadow: 1 5 3 1 #66666C;
    line-height: 30px;
}
.container-view{
    display: flex;
    align-items: center;
}

.container-view h1{
    padding-right: 30px;
}

.wprocess-container:hover{
    background-color: #B9FF66;
}
.teamscontainer{
     padding: 40px 60px;
     margin-top: 25px;
}
.Teamtop{
    display: flex;
    align-items: center;
}
.Teamtop h1{
    font-size: 30px;
    background-color: #B9FF66;
    padding: 10px;
    border-radius: 5px;
}

.Teamtop p{
    margin-left: 30px;
    max-width: 570px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.teaminfo-container{
    margin-top: 40px;
    margin-left: 50px;
}
.tmembers{
    border: black solid 2px;
    margin: 10px 10px;
    border-radius: 30px;
    max-width: 400px;
}
.teaminfo-container1{
    display: flex;
}
.teaminfo-container2{
    display: flex;
}
.mcontanier-top{
    display: flex;
    padding: 30px 30px;
    justify-content: space-between;
}
.tmemberspic img{
    width: 100px;
    height: auto;
}
.tmemberssociallogo img{
    height: auto;
    width: 40px;
}
.tmembersexperience{
    padding: 20px 20px;
    line-height: 40px;
}
.tmembers hr{
    width: 350px;
}
.tmember-view{
    display: flex ;
    justify-content: right;
    margin-right: 90px;
}
.tmember-view button{
    margin-top: 50px;
    padding: 30px 50px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: black;
    transition: background-color 1s;
    font-size: 20px;
}
.tmember-view button:hover{
    color: black;
    background-color: #B9FF66;
}
#Contact{
    padding: 40px 100px;
}
.Contact-container{
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
}
.form-contaner{
    display: block;
    padding: 50px;
    align-items: center;
}
.selection-form{
    margin-bottom: 60px;
    margin-left:20px;
}
.selection-form label{
    font-size: 25px;
    font-weight: 400;
   }
.selection-form input[type="radio"]{
    transform: scale(1.5);
    margin:  0 20px;
}
.info-form label{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    margin-left: 15px;
}
.info-form input[type="text"]{
    padding: 25px 150px 25px 15px;
    margin: 15px;
    border-radius: 10px;
    width: 300px;
}
.info-form input[type="email"]{
    padding: 25px 150px 25px 15px;
    margin: 15px;
    border-radius: 10px;
    width: 300px;
}
.info-form textarea{
    margin: 15px;
    border-radius: 10px;
    border: 1.8px solid black;
}
.info-form button{
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    transition: background-color .2s;
    font-size: larger;
    padding: 25px;
    margin-left: 10px;
    width: 300px;
    margin-top: 20px;
}
.info-form button:hover{
    background-color: #B9FF66;
    color: black;
}
#footer{
    padding: 40px 60px;
    margin: 20px 90px 0 90px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    background-color: #191A23;
}
.fcontainertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.footernav li{
    list-style: none;
    display: inline;
    justify-content: space-evenly;
    padding-left: 30px;
}
.footernav li a{
    text-decoration: none;
    color: white;
}
.footernav li a:hover{
    color: #B9FF66;
}
.fcenter-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: white solid 2px;
    margin-bottom: 30px;
}
.company-info h3{
    display: inline;
    background-color: #B9FF66;
    color: #191A23;
    padding: 7px;
    border-radius: 8px;
    font-size: 20px;
}
.footer-address{
    max-width: 300px;
    margin-top: 10px;
    padding-top: 20px;
    line-height: 35px;
    font-weight: 400;
    font-size: 18px;
}
.footer-subscribe{
    display: flex;
    align-items:center;
    background-color: #292A32;
    gap: 20px;
    border-radius: 11px;
    padding: 20px 15px 20px 15px ;
    width: 60%;
}
.input-email input[type="email"]{
    padding: 30px 280px 35px 20px;
    border-radius: 20px;
    background-color: #292A32;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    margin-left: 10px;
}
.input-email input[type="email"]::placeholder{
    color: white;
}
.Subscribe-btn button{
    border-radius: 20px;
    padding: 30px;
    font-size: 15px;
    font-weight: 400;
    background-color: #B9FF66;
    color: rgb(0, 0, 0);
    transition: background-color .20s;
}
.Subscribe-btn button:hover{
    background-color: #191A23;
    color: white;
    border-color: #B9FF66;
}
.footer-copy-rights{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.footer-copy-rights p{
    padding-right: 50px;
    font-family: 20px;
    font-weight: 400;
}
.footer-copy-rights a{
    text-decoration: none;
    color: white;
}
.footer-copy-rights a:hover{
    color: #B9FF66;

}

    